body{
    margin: 0%;
    padding: 0%;
}
        /* navbar */
#navbar{
    width: 100%;
    height: 70px;
    position:sticky;
    top: 0px;
    background-color: white;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#navbar>div:nth-child(2){
    width: 50%;
    height: 40px;
    margin: auto;
    justify-content: center;
    display: flex;
    align-items: center;
    list-style: none;
    
}
#dropbtn {
    background-color: transparent;
    padding: 16px;
    font-size: 18px;
    border: none;
  }
  
  #dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  #dropdown-content {
    display:none;
    position:absolute;
    width: auto;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 30px;
  }
  
  #dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    

  }
  
  #dropdown-content a:hover {background-color: #ddd;}
  
  #dropdown:hover #dropdown-content {display: block;}
  
 


#navbar>div:nth-child(3){
    width: 20%;
    height: 40px;
    margin: auto;
    margin-left: 200px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-right: 30px;
}
a{
    text-decoration: none;
    color: black;
    list-style: none;
    display: flex;
    gap: 50px;
    margin-left: 30px;
    
}
#navbar>a>img{
    width: 70%;
    height: 70%;
    margin-left: 40px;
    margin-top: 10px;
    
}
#navbar>div:nth-child(3)>button:nth-child(1){
    height: 50px;
    border: none;
    background-color: yellow;
    font-size: 20px;
    padding: 10px 30px 10px 30px;

}
#navbar>div>button:nth-child(2){
    background: none;
    border: none;
}

        /* sliding image */

#sliding{
    width: 95%;
   margin: auto;
    padding-bottom: 100px;
}
#sliding>img{
    width: 100%;
}

        /* cart data */
#container{
    width: 95%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(auto);
    gap: 15px;
    margin-top: 100px;
    margin: auto;
}
#container>div{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 20px;
}
#container>div>img{
    width: 100%;
    background-color: rgb(235, 232, 232);
}
#container>div>h2{
    text-align: center;
}
#container>div>h1{
    margin-left: 20px ;
    color: brown;
}
#container>div>p{
    margin-left: 20px;
    font-size: 20px;
    text-decoration: line-through 2px rgb(73, 72, 72);
}
#container>div>button{
    width: 100%;
    height: 40px;
    background-color: yellow;
    border: none;
    border-radius: 8px;
}

        /* video */
#video{
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(auto);
    gap: 15px;
    margin: 100px 100px 100px 100px;
   
}
#video>div>video{
    width:100%;
    height: 400px;
    
}
#video>div>button{
    width: 100%;
    height: 40px;
    background-color: yellow;
    border: none;
    border-radius: 8px;
}
#video>div>p{
    margin-left: 20px;
    font-size: 20px;
    text-decoration: line-through 2px rgb(73, 72, 72);
}
#video>div>h2{
    text-align: center;
}
#video>div>h1{
    margin-left: 20px ;
    color: brown;
}
#head{
    padding: 15px 15px 15px 15px;
    text-align: center;   
}
            
            /* medium size */
@media all and (min-width:700px)and (max-width:1000px) {
            /* navbar */
    #navbar>a>img{
        width: 100%;   
    }
    h3{
        font-size: 15px;
    }
    a{
        gap: 10px;
    }
    #navbar>div:nth-child(2){
        
        
        width: 80%;
    }
    #navbar>a>img{
        margin-left: 20px;
    }
    #container{
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(auto);
    }
}

            /* small size */
@media all and (min-width:300px)and (max-width:700px) {
            /* navbar */
    #navbar>a>img{
        width: 80%;   
    }
    h3{
        font-size: 15px;
    }
    a{
        gap: 5px;
    }
    #navbar>div:nth-child(2){
        
        
        width: 90%;
    }
    #navbar>a>img{
        margin-left: 10px;
    }
    #container{
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(auto);
    }
    
}